.App {
  text-align: center;
  color: #33374b;
}

.App-header {
  background-color: #535974;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0;
}
